.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.list-inputs {
  display: grid;
  align-items: center;
  justify-content: center;
}

.list-inputs input{
  width: 250px;
  height: 30px;
}

.list-inputs select{
  width: 250px;
  height: 30px;
}